{% assign footer_menu_html = site.settings.footer_menu_html | presence %}
{% assign company_name = site.settings.company_name | presence %}
{% assign copyright_info = site.settings.copyright_info | presence %}

{% if footer_menu_html or company_name or copyright_info %}
  <footer
    id="footer"
    class="footer footer-center bg-neutral text-neutral-content"
  >
    <div class="mx-auto w-full max-w-7xl items-center justify-between sm:flex-row">
      {% if footer_menu_html %}
        {{ footer_menu_html }}
      {% endif %}
      <div class="p-3">
        <div class="flex justify-center space-x-3">
          {% if company_name %}
            <span>© {{ company_name }} </span>
          {% endif %}
          {% if copyright_info %}
            <span>{{ copyright_info }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>
{% endif %}


