{%- assign header_menu_html = site.settings.header_menu_html -%}
<div class="drawer md:hidden">
  <input id="header-drawer-left" type="checkbox" class="drawer-toggle" x-init="$el.checked = false;" />
  <div class="drawer-content">
    <label for="header-drawer-left" class="drawer-button btn btn-ghost px-2" aria-label="Menu">
      {% render 'icon', name: 'menu', class: 'size-6' %}
    </label>
  </div>
  <div class="drawer-side z-[999]">
    <label
      for="header-drawer-left"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div class="min-h-full w-90 bg-base-200 text-base-content">
      <div class="card flex h-dvh flex-col rounded-l-none bg-base-100 py-4">
        <div class="flex flex-none items-center justify-center space-x-2 px-4">
          {% render 'header_logo' %}
          <span class="text-xl font-bold md:hidden">{{ site.name }}</span>
        </div>

        {% if header_menu_html %}
          <div class="flex flex-col space-y-2 border-t border-base-300 px-4 pt-4 underline">
            {{ header_menu_html }}
          </div>
        {% endif %}

        <div
          class="custom-menu mt-4 min-h-0 flex-1 overflow-y-auto border-t border-base-300 pt-2"
          @click="if($event.target.closest('a')) $event.target.closest('.drawer').querySelector('#header-drawer-left').checked = false"
        >
          <turbo-frame id="page_nav_tree_frame__" src="{{ statics['page/nav_tree'] }}" loading="lazy" class="w-full">
            <div class="flex h-20 w-full items-center justify-center text-base-content/60">
              <span class="loading loading-spinner loading-md text-primary"></span>
            </div>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</div>
