{% assign home_page = site.pages[site.index_path] %}
{% assign child_candidates = page.children_in_list | limit: 100 %}
{% assign child_count = child_candidates | size %}
{% assign has_children = child_count > 0 %}

<div class="relative min-h-[60vh] bg-base-100 dark:bg-base-100">
  <div class="mx-auto max-w-7xl bg-base-100 px-4 pb-16 pt-8 md:pt-12 dark:bg-base-100" data-controller="link-target">
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-[minmax(0,1fr)_minmax(240px,300px)] lg:items-start lg:gap-10 xl:gap-12">
      <main class="min-w-0 bg-base-100 dark:bg-base-100">
        {% render 'support_page_header', page: page %}

        {% assign page_content = page.settings.content %}
        {% assign has_content = page_content | present? %}
        {% if has_content %}
          <section
            id="page-content"
            class="ProseMirror mt-8 flex-grow max-h-min! min-h-0"
            data-controller="link-target images-viewer"
          >
            {{ page_content }}
          </section>
        {% endif %}

        {% if has_children %}
          {% render 'support_child_list', page: page %}
        {% else %}
          <section class="{% if has_content %}mt-10{% else %}mt-8{% endif %}">
            {% render 'feedback_button', page: page %}
          </section>
          {% render 'support_related', page: page, limit: 5 %}
        {% endif %}
      </main>

      <aside
        class="min-w-0 lg:sticky lg:top-4 lg:z-10 lg:max-h-[calc(100vh-2rem)] lg:overflow-y-auto lg:self-start"
      >
        {% render 'aside_nav', nav_page: home_page, page: page %}
      </aside>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:schema.templates.page.name",
  "description": "t:schema.templates.page.description",
  "thumb_url": "images/theme/${lang}/page.png",
  "sub_page_templates": ["page"],
  "settings": [
    {
      "id": "tags",
      "type": "tag_picker",
      "multiple": true,
      "label": "t:schema.templates.page.settings.tags.label",
      "queryable": true,
      "to_markdown": true
    },
    {
      "id": "icon",
      "type": "select",
      "label": "t:schema.templates.page.settings.icon.label",
      "info": "t:schema.templates.page.settings.icon.info",
      "default": "help-circle",
      "choices_from": "$site.lucide_icons"
    },
    {
      "id": "title",
      "type": "text",
      "readonly": true,
      "queryable": true,
      "label": "t:schema.templates.page.settings.title.label",
      "info": "t:schema.templates.page.settings.title.info",
      "to_markdown": true
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "t:schema.templates.page.settings.content.label",
      "readonly": true,
      "info": "t:schema.templates.page.settings.content.info",
      "to_markdown": true
    }
  ]
}
{% endschema %}
